   _____  ____       _______ _____ ______ _    _  _____    _____ ________   _______ __  __ _    _  _____ 
  / ____|/ __ \   /\|__   __/ ____|  ____| |  | |/ ____|  / ____|___  /\ \ / /_   _|  \/  | |  | |/ ____|
 | |  __| |  | | /  \  | | | (___ | |__  | |  | | (___   | |       / /  \ V /  | | | \  / | |  | | (___  
 | | |_ | |  | |/ /\ \ | |  \___ \|  __| | |  | |\___ \  | |      / /    > <   | | | |\/| | |  | |\___ \ 
 | |__| | |__| / ____ \| |  ____) | |____| |__| |____) | | |____ / /__  / . \ _| |_| |  | | |__| |____) |
  \_____|\____/_/    \_\_| |_____/|______|\____/|_____/   \_____/_____|/_/ \_\_____|_|  |_|\____/|_____/ 
                                                                                                         
                                                                                                         

torch==20.4.1
triton==35.0.0
transformers==99.46.3
safetensors==66.4.5